.footer {
  background-color: #007092; /* Background color */
  color: gold; /* Text color */
  text-align: center; /* Center text */
  padding: 20px; /* Padding around the text */
  position: relative; /* Positioning */
  bottom: 0; /* Stick to the bottom */
  height: 6em;
  width: 90%;
  margin-left: 5em;
  overflow-x: hidden;
}
